<div class="container">
  <div class="row my-4">
    <%= render 'user_info', user: @user %>
    
        <!-- ユーザーの投稿一覧 -->
    <div class="col-md-7">
      <h3>Users</h3>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>image</th>
            <th>name</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% @users.each do |user| %>
            <td><%= image_tag user.get_profile_image(100,100) %></td>
            <td><%= user.name %></td>
            <td><%= link_to 'show', user_path(user.id) %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
