<div class="container">
  <div class="row my-4">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="top-title">
        <h1>welcome to <i class="fa-solid fa-book"></i><strong>Bookers</strong> !!</h1>
      </div>
      
      <div class="top-sub">
        <p style="line-height:2rem">In <i class="fa-solid fa-book"></i><strong>Bookers</strong>,</p>
      </div>
      
      <div class="top-text">
        <p style="line-height:2rem">you can share and exchange your opinions, inpressions, and emotions<br>
        about various books!</p>
      </div>
    </div>
  </div>
</div>
  
